* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(120deg,#d4b757, #d6795f);
    color: white;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    font-weight: 700;
}


form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button {
    color: #d6795f;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #d6795f;
    color: white;
}

.to-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-list {
    min-width: 30%;
    list-style: none;
    
}

.todo {
    margin: 0.5rem auto;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    cursor: pointer;
    border-radius: 5px;

}

.trash-button, .complete-btn {
    background-color: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}


.checked {
    transition: all 0.3s ease;
    background-color: #a35e4a;
    text-decoration: line-through;
    color: white;
    opacity: 0.5;
}

.deletebutton {
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
    font-weight:900;
    border: none;
    background-color:inherit;
    opacity: 0.8;
    
    margin-right: 1rem;
    /* visibility: hidden; */
    border-radius: 100%;
    
    
}

.todo:hover > .deletebutton {
    visibility: visible;
}

.deletebutton:hover {
    opacity: 1;
}

.label1 {
    flex: 1;
    margin-left: 1rem;
    font-weight: 700;
}

.checkbox1 {
    margin-left: 1rem;
    background-color: #ff6f47;
}

.footer1{
    
    width: 40%;
    margin: 3rem auto;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}




    






